.header{
    background-color: #4e5a6e;
}

.right{
    display: flex;
    padding: 10px;
    align-items: center;
}

.right button{
    margin-right: 10px;
}
.right button img{
    height: 100%;
    border-radius: 50%;
}

.right button i{
    font-size: 25px;
    color: white;
}