<mat-tab-group fxFlexFill class="container">
    <mat-tab label="Monitor">
      <div fxFlexFill fxLayout="column">
          <div fxLayout="row">
              <div fxFlex fxLayout="column" class="checkbox-container"> 
                <mat-checkbox fxFlex></mat-checkbox>
                <span>All</span>
              </div>

              <div fxFlex fxLayout="column" class="checkbox-container">
                <mat-checkbox fxFlex></mat-checkbox>
                <span>All</span>
              </div>

              <div fxFlex fxLayout="column" class="checkbox-container">
                <mat-checkbox fxFlex></mat-checkbox>
                <span>All</span>
              </div>

              <div fxFlex fxLayout="column" class="checkbox-container">
                <mat-checkbox fxFlex></mat-checkbox>
                <span>All</span>
              </div>

          </div>
          <div fxFlex>

          </div>
          <div class="button-container">
              <button mat-raised-button color="primary">View All</button>
          </div>
      </div>
      
      
    </mat-tab>
    <mat-tab label="Reports">Content 2</mat-tab>
</mat-tab-group>
