/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

app-left-side-bar .mat-tab-body-wrapper{
    flex: 1 1 1e-09px;
    box-sizing: border-box;
}